receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:

extensions:
  health_check: { }

exporters:
  otlp:
    endpoint: jaeger:4317
    tls:
      insecure: true
  otlphttp/seq:
    endpoint: http://seq:5341/ingest/otlp
    tls:
      insecure: true
service:
  extensions: [ health_check ]

  pipelines:
    traces:
      receivers: [ otlp ]
      processors: [ batch ]
      exporters: [ otlp ]

    logs:
      receivers: [ otlp ]
      processors: [ batch ]
      exporters: [ otlphttp/seq ]