permissions:
  contents: read

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

name: test

jobs:
  required:
    runs-on: ubuntu-latest
    name: tests / stable
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly
          components: clippy, rustfmt
      - run: cargo test --all-features

      - uses: Swatinem/rust-cache@v2

      - name: cargo test --locked
        run: cargo test --locked --all-features --all-targets
