permissions:
  contents: read

on:
  push:
    branches: [ "*" ]
  pull_request:

name: test

jobs:
  required:
    runs-on: ubuntu-latest
    name: tests / stable
    steps:
      - uses: actions/checkout@v6

      - name: Install Rust toolchain
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - uses: Swatinem/rust-cache@v2

      - name: cargo test --locked
        run: cargo test --locked --all-features --all-targets
