permissions:
  contents: read

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

name: test

jobs:
  required:
    runs-on: ubuntu-latest
    name: Run tests and coverage
    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly
          components: clippy, rustfmt

      - name: Install cargo-tarpaulin
        run: cargo install cargo-tarpaulin --locked

      - uses: Swatinem/rust-cache@v2

      - name: Run coverage
        run: cargo tarpaulin --locked --all-features --all-targets --out Lcov

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v6
        with:
          name: coverage-lcov
          path: lcov.info

      - name: Upload to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: lcov.info
          # token: ${{ secrets.CODECOV_TOKEN }}
